<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"会员中心","css_source":"<link rel='stylesheet' href='css/user-info.css'>"})
<body>
    @@include('inc/top-header-bar.html',{"topHeader_title":"会员中心"})
    <section class="member-center">
        <p class="not-member">您还不是会员哦~</p>
        <figure>
            <figcaption>会员类型</figcaption>
            <div class="member-types">
                <p>普通会员
                    <small>￥188.00/年</small>
                    <button class="btn btn-xs btn-info pull-right">升级</button>
                </p>
                <p>年费会员
                    <small>￥188.00/年</small>
                    <button class="btn btn-xs btn-info pull-right">升级</button>
                </p>
            </div>
        </figure>
        <hr />
        <figure>
            <figcaption>享受权益</figcaption>
            <!-- 普通会员 -->
            <dl class="ordinary-member">
                <dt>普通会员：</dt>
                <dd>能够及时收听更新课程</dd>
                <dd>能够及时收听更新课程</dd>
                <dd>能够及时收听更新课程</dd>
            </dl>
            <!-- 年费会员 -->
            <dl class="ordinary-member">
                <dt>年费会员：</dt>
                <dd>能够及时收听更新课程</dd>
                <dd>能够及时收听更新课程</dd>
                <dd>拥有推广高收益</dd>
            </dl>
        </figure>
    </section>
</body>
</html>