<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"设置-关于","css_source":"<link rel='stylesheet' href='css/user-info.css'>"})
<body>
    @@include('inc/top-header-bar.html',{"topHeader_title":"关于"})
    <figure class="about-logo">
        <figcaption>
            <img src="images/logo.png" alt="" class="logo-img img-responsive" />
        </figcaption>
        <small>版本号 1.0</small>
    </figure>
    <div class="userInfo">
        <div class="container">
            <!-- 有箭头的版本 -->
            <ul class="userInfo-list list-unstyled">
                <li class="list-group-item">
                    版本说明
                    <a class="pull-right" href="#">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>                
                </li>
                <li class="list-group-item" style="margin-bottom: 0;">
                    版权信息
                    <a class="pull-right" href="#">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>