<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"客服中心","css_source":"<link rel='stylesheet' href='css/user-info.css'>"})

<body>
    <!-- 客服中心头部 -->
    @@include('inc/top-header-bar.html',{"topHeader_title":"客服中心"})
    <div class="call-center">
        <div class="container">
            客服电话
            <a href="tel:400-882-7988">
                <span class="pull-right">
                    400-882-7988
                    <img src="images/call-icon.png" alt="" class="call-phone pull-right img-responsive" />
                </span>
            </a>
        </div>
    </div>
</body>

</html>