<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"往期活动","css_source":"<link rel='stylesheet' href='css/resource-list.css'>"})
<body>
    <!-- 顶部搜索框 -->
    @@include('inc/top-search-input.html',{"input":"<input type='text' class='form-control search-input' role='search' placeholder='搜索活动名称'/>"})
    <!-- 往期活动 -->
    <div class="activisties">
        <div class="activisties-tab">
            <div class="container">
                <ul class="row list-unstyled" role="tablist">
                    <li role="presentation" class="col-xs-6 col-md-6 tabs-border active">
                        <a href="#recently" class="tabs" aria-controls="messages" role="tab" data-toggle="tab">最近活动</a>
                    </li>
                    <li role="presentation" class="col-xs-6 col-md-6">
                        <a href="#past" class="tabs" aria-controls="messages" role="tab" data-toggle="tab">往期活动</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content container">
            <div role="tabpanel" class="tab-pane active row" id="recently">
                <a href="#" class="col-md-6 col-xs-6">
                    <figure class="tabs-figure">
                        <img src="images/past.png" alt="图片" class="img-responsive" />
                        <figcaption class="tabs-figcaption">
                            <h5 class="activity-content">
                                活动内容：XXXXXXXXXXXXXX
                            </h5>
                            <time class="activity-date">
                                日期：2018年X月X年
                            </time>
                            <small class="activity-state">进行中</small>
                        </figcaption>
                    </figure>
                </a>
                <a href="#" class="col-md-6 col-xs-6">
                    <figure class="tabs-figure">
                        <img src="images/past.png" alt="图片" class="img-responsive" />
                        <figcaption class="tabs-figcaption">
                            <h5 class="activity-content">
                                活动内容：XXXXXXXXXXXXXX
                            </h5>
                            <time class="activity-date">
                                日期：2018年X月X年
                            </time>
                            <small class="activity-state">进行中</small>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div role="tabpanel" class="tab-pane activisties-now row" id="past">
                <a href="#" class="col-md-6 col-xs-6">
                    <figure class="tabs-figure">
                        <img src="images/past.png" alt="图片" class="img-responsive" />
                        <figcaption class="tabs-figcaption">
                            <h5 class="activity-content">
                                活动内容：XXXXXXXXXXXXXX
                            </h5>
                            <time class="activity-date">
                                日期：2018年X月X年
                            </time>
                            <small class="activity-state">已结束</small>
                        </figcaption>
                    </figure>
                </a>
                <a href="#" class="col-md-6 col-xs-6">
                    <figure class="tabs-figure">
                        <img src="images/past.png" alt="图片" class="img-responsive" />
                        <figcaption class="tabs-figcaption">
                            <h5 class="activity-content">
                                活动内容：XXXXXXXXXXXXXX
                            </h5>
                            <time class="activity-date">
                                日期：2018年X月X年
                            </time>
                            <small class="activity-state">已结束</small>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
    <!-- 底部导航栏 -->
    @@include('inc/footer-nav-bar.html',{"hd-nav":"active"})
</body>
</html>