<!DOCTYPE html>
<html lang="en">
@@include('./inc/header-common-static.html',{"title":"我的活动","css_source":"<link rel='stylesheet' href='css/resource-list.css'>"})
<body>
     @@include('inc/top-header-bar.html',{"topHeader_title":"我的活动"})
    <!-- 我的活动 -->
    <div class="mine-activity-list">
        <div class="container row">
            <a href="#" class="item col-md-6 col-xs-6">
                <figure class="tabs-figure">
                    <img src="images/past.png" alt="图片" class="img-responsive" />
                    <figcaption class="tabs-figcaption">
                        <h5 class="activity-content">
                            活动内容：XXXXXXXXXXXXXX
                        </h5>
                        <time class="activity-date">
                            日期:2018年X月X年
                        </time>
                        <br/>
                        <small class="activity-state">进行中</small>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="item col-md-6 col-xs-6">
                <figure class="tabs-figure">
                    <img src="images/past.png" alt="图片" class="img-responsive" />
                    <figcaption class="tabs-figcaption">
                        <h5 class="activity-content">
                            活动内容：XXXXXXXXXXXXXX
                        </h5>
                        <time class="activity-date">
                            日期:2018年X月X年
                        </time>
                        <br/>
                        <small class="activity-state">进行中</small>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="item col-md-6 col-xs-6">
                <figure class="tabs-figure">
                    <img src="images/past.png" alt="图片" class="img-responsive" />
                    <figcaption class="tabs-figcaption">
                        <h5 class="activity-content">
                            活动内容：XXXXXXXXXXXXXX
                        </h5>
                        <time class="activity-date">
                            日期:2018年X月X年
                        </time>
                        <br/>
                        <small class="activity-state">进行中</small>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</body>

</html>