<!doctype html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"我的订单-详情","css_source":"<link rel='stylesheet' href='css/resource-list.css'>"})
<body>
    <div class="indent-detail">
        <!-- 顶部标题 -->
        <!-- <header class="mine-activity">
            <div class="container">
                <h1 class="mine-title">
                    <a href="#"  onClick="javascript :history.go(-1);" class="glyphicon glyphicon-menu-left pull-left"></a>
                    我的订单
                </h1>
            </div>
        </header> -->
        
        <!-- 订单信息 -->
        <section class="indent-info">
            <h3 class="indent-title">
                <span>票种信息</span>
            </h3>
            <div class="indent-content">
                <p>活动名称：万导计划第四十期</p>
                <time>时间：2018.01.01 - 2018.02.02</time>
                <address>地点：北京朝阳区纽约豪园</address>
                <p>姓名：周润发</p>
                <p>票种数量：100</p>
                <p>支付金额：8888元</p>
                <time>创建时间：2018.01.07 &nbsp;10:16:31</time>
            </div>
        </section>
    </div>
</body>
</html>