<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"设置-手机号","css_source":"<link rel='stylesheet' href='css/user-info.css'>"})
<body>
    @@include('inc/top-header-bar.html',{"topHeader_title":"手机号"})
    <!-- 有箭头的版本 -->
    <div class="list-group-item change-mobile container">
        手机号
        <span class="pull-right">188******88</span>
    </div>
    <div class="container">
        <a class="btn btn-sm btn-info changeMobile-btn" href="./更换手机号.html" role="button">更换手机号</a>
        <small class="changeMobile-txt">一个手机号只能作为一个账号的登录名，一个手机号最多可以被6个设备绑定</small>
    </div>
</body>

</html>