<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"更多分类","css_source":"<link rel='stylesheet' href='css/resource-list.css'>"})

<body>
    <!-- 顶部搜索框 -->
    @@include('inc/top-search-input.html',{"input":"<input type='text' class='form-control search-input' role='search' placeholder='搜索分类名称' />"})
    <!-- 分类列表 -->
    <div class="classify">
        <div class="container">
            <ul class="row list-unstyled">
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>