<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"设置-求助反馈","css_source":"<link rel='stylesheet' href='css/user-info.css'>"})
<body>
    @@include('inc/top-header-bar.html',{"topHeader_title":"求助反馈"})
    <div class="help-back">
        <div class="container">
            <!-- 有箭头的版本 -->
            <ul class="userInfo-list list-unstyled">
                <li class="list-group-item">问题求助
                    <a class="pull-right" href="./客服中心.html"><span>前往我的客服</span></a>
                </li>
                <li class="list-group-item">意见反馈
                    <a class="pull-right" href="./意见反馈.html">
                        <span class="">功能异常或建议</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>