<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"课程分类子类","css_source":"<link rel='stylesheet' href='css/resource-list.css'>"})
<body>
    <!-- 分类列表 -->
    <div class="classify">
        <div class="container">
            <ul class="row list-unstyled">
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                        <h5>0-6岁课程</h5>
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                        <h5>0-6岁课程</h5>
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                        <h5>0-6岁课程</h5>
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="#">
                        <img src="images/class.jpg" alt="" class="img-responsive img-rounded">
                        <h5>0-6岁课程</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>