<!DOCTYPE html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"设置-账号管理-账号切换","css_source":"<link rel='stylesheet' href='css/user-info.css'>"})
<body>
    @@include('inc/top-header-bar.html',{"topHeader_title":"账号切换"})
    <div class="userInfo">
        <!-- 有箭头的版本 -->
        <div class="userInfo-list accountSwitch">
            <div class="list-group-item container">
                188******88
                <a class="pull-right">
                    <span class="pull-right glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="list-group-item container">
                换个新账号登录
                <a class="pull-right" href="./新增账号.html">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>