<!doctype html>
<html lang="en">
@@include('inc/header-common-static.html',{"title":"资源列表1-1","css_source":"<link rel='stylesheet' href='css/resource-list.css'>"})
  <body>
    <div class="armory-content">
        <div class="container">
            <figure class="armory-list">
                <figcaption class="pull-left">
                    <a href="#">
                        <img src="http://fpoimg.com/70x60" alt="" class="img-responsive" />
                    </a>
                </figcaption>
                <section class="armory-section pull-right">
                    <div class="pull-left detail">
                        <h5 class="title">基地开会讲师展架基地开会讲师展架</h5>
                        <time>时间：2018.01.01</time>
                    </div>
                    <div class="pull-right download">
                        <a>
                            <button class="btn btn-sm btn-primary download-btn">下载</button>
                        </a>
                        <small class="download-num">下载量：2198</small>
                    </div>
                </section>
            </figure>
            <figure class="armory-list">
                <figcaption class="pull-left">
                    <a href="#">
                        <img src="http://fpoimg.com/70x60" alt="" class="img-responsive" />
                    </a>
                </figcaption>
                <section class="armory-section pull-right">
                    <div class="pull-left detail">
                        <h5 class="title">基地开会讲师展架基地开会讲师展架</h5>
                        <time>时间：2018.01.01</time>
                    </div>
                    <div class="pull-right download">
                        <button class="btn btn-sm btn-primary download-btn download-vip">会员下载</button>
                        <small class="download-num">下载量：2198</small>
                    </div>
                </section>
            </figure>
        </div>
    </div>
    <!-- 底部导航栏 -->
      @@include('inc/footer-nav-bar.html')
  </body>
</html>