<nav class="navbr navbar-fixed-bottom footer-nav">
    <div class="container">
        <a href="./index.html" class="@@index-nav">
            <span class="glyphicon glyphicon-home"></span>
            <!-- <br/> -->
            <span class="footer-nav-txt">首页</span>
        </a>
        <a href="./资源列表.html" class="@@zy-nav">
            <span class="glyphicon glyphicon-briefcase"></span>
            <!-- <br/> -->
            <span class="footer-nav-txt">资源</span>
        </a>
        <a href="./往期活动.html" class="@@hd-nav">
            <span class="glyphicon glyphicon-gift"></span>
            <!-- <br/> -->
            <span class="footer-nav-txt">活动</span>
        </a>
        <a href="./我的-会员.html" class="@@mine-nav">
            <span class="glyphicon glyphicon-user"></span>
            <!-- <br/> -->
            <span class="footer-nav-txt">我的</span>
        </a>
    </div>
</nav>